@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
  
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Fashion Store </h2>
        <ul>
            <li> Discover the Forever New March collection of cosy outerwear, vegan leather skirts and smock dresses | FREE delivery within New Zealand for orders over $75.</li>
           
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Fashion Store</h2>
        <ul>
            <li><a href="https://www.maxshop.com/>"Max is a New Zealand women's fashion label with a focus on style and values of the modern Kiwi woman. Shop the latest in linen, dresses and more.</a></li>
            <li><a href="https://www.superette.co.nz/">Shop the latest and greatest designer fashion from NZ and the worlds's top brands. Everything you could want from homeware, clothing, footwear.</a></li>
         
        </ul>
    </div>
    
    
</div>
