@page
@model FashionStoreEntity.Pages.Selling.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sale.id" />
            <div class="form-group">
                <label asp-for="Sale.Name" class="control-label"></label>
                <input asp-for="Sale.Name" class="form-control" />
                <span asp-validation-for="Sale.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Mobile" class="control-label"></label>
                <input asp-for="Sale.Mobile" class="form-control" />
                <span asp-validation-for="Sale.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Product" class="control-label"></label>
                <input asp-for="Sale.Product" class="form-control" />
                <span asp-validation-for="Sale.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Bill" class="control-label"></label>
                <input asp-for="Sale.Bill" class="form-control" />
                <span asp-validation-for="Sale.Bill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale.Billdate" class="control-label"></label>
                <input asp-for="Sale.Billdate" class="form-control" />
                <span asp-validation-for="Sale.Billdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
